:root {
    --color1: rgb(0, 0, 107);
    --color2: rgb(69, 69, 175);
    --color3: white;
    --color4: rgb(192, 192, 192);
}

* {
    margin: 0;
}


body {
    background: var(--color3);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-image: linear-gradient(to right, var(--color2), var(--color1));
    color: var(--color3);
    text-align: center;
}

main {
    display:flex;
    justify-content: space-between;
}

/* search section start */
.search {
    display:flex;
    flex-direction: column;
    align-items:stretch;
    width: 25%;
    margin: 5px;
}

.search form {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#search-bar-text {
    font-weight:bold;
    font-size: 20px;
}

#search-bar {
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid;
}

#search-btn {
    height: 25px;
    width:100%;
    background-image: linear-gradient(to right, var(--color1), var(--color2), var(--color1));
    color: var(--color3);
    border-radius: 5px;
    border: 2px solid linear-gradient(to right, var(--color1), var(--color2), var(--color1));
}

#search-btn:hover {
    background-image: linear-gradient(to right, var(--color2), var(--color1), var(--color2));
    border: 2px solid linear-gradient(to right, var(--color2), var(--color1), var(--color2));
}

#search-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
    padding: 0;
    border-top: 2px solid var(--color4);
    list-style: none;
}

#search-list li {
    margin: 5px 0 0 0;
}

.p-search {
    height: 25px;
    width:100%;
    background: var(--color2);
    color: var(--color3);
    border: 1px solid var(--color2);
    border-radius: 5px;
    transition: 0.25s;
}

.p-search:hover {
    background: var(--color1);
    transition: 0.25s;
    transition-timing-function:ease-in-out;
}

/* search section end */

/* Forecast section start */
.weather-info {
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: 5px;
    
}

.current-forecast {
    border: 1px solid black;
    border-radius: 2px;
}

.current-header {
    display:flex;
    align-items: center;
}

.current-forecast-info p {
    margin: 10px 0 10px 0;
}

.uv {
    color: var(--color3);
    border: 5px;
    border-radius: 5px;
    font-size: 12px;
    padding: 1px 5px;
}

.uv-sev {
    border-color: red;
    background: red;
}

.uv-mod {
    color: black;
    border-color: rgb(255, 255, 1);
    background: rgb(255, 255, 1);
}

.uv-fav {
    border-color: green;
    background: green;
}

/* Forecast section end */